<?xml version="1.0"?>
<robot name="B2">

    <joint name="camera_link_joint" type="fixed">
        <origin xyz="0.143 0.0 0.185" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="camera_link"/>
    </joint>

    <joint name="imu_link_join" type="fixed">
        <origin xyz="0.080 -0.035 0.133" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="imu_link"/>
    </joint>

    <joint name="scanner_link_join" type="fixed">
        <origin xyz="0.080 0 0.228" rpy="0.0 0.0 3.14159"/>
        <parent link="base_link"/>
        <child link="scanner_link"/>
    </joint>


    <link name="base_link">

        <visual name="frame_box">
            <!-- Top of frame is 120mm from origin -->
            <geometry>
                <box size="0.250 0.200 0.075"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0825"/>
            <material name="White" />
        </visual>

        <visual name="nuc">
            <!-- Top of NUC is 156mm from origin -->
            <geometry>
                <!-- NUC8i5BEK: 4.60" x 4.40" x 1.41" (117 mm x 112 mm x 36 mm) -->
                <box size="0.117 0.112 0.036"/>
            </geometry>
            <origin xyz="-0.0335 0.0 0.138"/>
            <material name="White" />
        </visual>

        <visual name="raspberry_pi4">
            <geometry>
                <box size="0.070 0.094 0.030"/>
            </geometry>
            <origin xyz="0.077 0.017 0.135"/>
            <material name="White" />
        </visual>

        <visual name="prototype_board">
            <!-- Top of prototype board is 166 from origin -->
            <geometry>
                <box size="0.035 0.045 0.010"/>
            </geometry>
            <origin xyz="0.077 -0.052 0.125"/>
            <material name="White" />
        </visual>

        <visual name="front_left_wheel">
            <geometry>
                <cylinder radius="0.0325" length="0.025"/>
            </geometry>
            <origin xyz="0.095 0.0875 0.0325" rpy="1.570 0.0 0.0"/>
            <material name="Black" />
        </visual>
        <visual name="front_right_wheel">
            <geometry>
                <cylinder radius="0.0325" length="0.025"/>
            </geometry>
            <origin xyz="0.095 -0.0875 0.0325" rpy="1.570 0.0 0.0"/>
            <material name="Black" />
        </visual>
        <visual name="rear_left_wheel">
            <geometry>
                <cylinder radius="0.0325" length="0.025"/>
            </geometry>
            <origin xyz="-0.095 0.0875 0.0325" rpy="1.570 0.0 0.0"/>
            <material name="Black" />
        </visual>
        <visual name="rear_right_wheel">
            <geometry>
                <cylinder radius="0.0325" length="0.025"/>
            </geometry>
            <origin xyz="-0.095 -0.0875 0.0325" rpy="1.570 0.0 0.0"/>
            <material name="Black" />
        </visual>
    </link>

    <link name="camera_link">
        <visual>
        <geometry>
            <box size="0.025 0.085 0.025"/>
        </geometry>
        <material name="Sky Blue" />
        </visual>
    </link>

    <link name="imu_link">
        <visual>
            <geometry>
                <box size="0.02032 0.0127 0.003"/>
            </geometry>
            <material name="PCB Green" />
        </visual>
    </link>

    <link name="scanner_link">        
        <visual>
            <geometry>
                <!--
                    Rotating cylinder is 24mm tall
                    Receive sensor is 16.5mm above bottom surface
                    So the visual should be dropped by the difference
                        y = (24/2) - 16.5 = -4.5mm
                -->
                <cylinder radius="0.035" length="0.024"/>
            </geometry>
            <origin xyz="0 0 -0.0045"/>
            <material name="Black" />
        </visual>
        <visual>
            <geometry>
                <box size="0.100 0.070 0.033"/>
            </geometry>
            <origin xyz="0.015 0.0 -0.033"/>
            <material name="Black" />
        </visual>
    </link>

    <material name="Black">
        <color rgba="0.0 0.0 0.0 1.0"/>
    </material>

    <material name="Sky Blue">
        <color rgba="0.125 0.525 0.90 1.0"/>
    </material>

    <material name="White">
        <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="PCB Green">
        <color rgba="0.0 0.468 0.0 1.0"/>
    </material>

    <material name="Gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
    </material>


</robot>
